$mainColor: red;

$darkColor: #999;

$mainWidth:500px;

h2{
    color: $mainColor;
}

div{
    color: $darkColor;
}

.parent{
    // margin: 30px;
    // display: flex;
    // justify-content: space-between;

    &:hover{
        color: blue;
    }
    .child2{
        background-color: #555;
    }
    
    .child6{
        color: $mainColor;
        font: {
            family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            weight:600;
            size:20px
        }
    }
}

@for $i from 1 to 10{
    .child#{$i}{
        background-color: rgba(1,150,240,$i/10);
        width: $mainWidth + 50 * $i;
        margin: auto;
    }
}

@mixin list-reset{
    margin: 0;
    padding: 0;
    list-style: none;
}

ul{
    background-color: gray;
    @include list-reset();
}

@mixin list-reset($x){
    margin: $x;
    padding: $x;
    list-style: none;
}

nav{
    @include list-reset(5)
}

@mixin trans($prop, $dur){
    transition: $prop $dur;
    -webkit-transition: $prop $dur;
    -moz-transition: $prop $dur;
    -o-transition: $prop $dur;
    -ms-transition: $prop $dur;
}

.text{
    width: 25px;
    @include trans(width, 2s )
}

.test{
    display: flex;
    @include trans(all ,0.3s )
}